<style>* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}
</style>
<style>/* Default: hide desktop scroll */
.benefits_track-component {
  display: none;
}

/* Default: show mobile version */
.swiper.benefits-swiper {
  display: block;
}

/* Only real scrolling devices (mouse / trackpad) */
@media (hover: hover) and (pointer: fine) {
  .benefits_track-component {
    display: block;
  }
  
  .is-benefits-sticky {
  	height: 100dvh;
  }
  
  
  .section_benefits {
  	height: 300dvh;
  }

  .swiper.benefits-swiper {
    display: none;
  }
}



</style>